/** @format */
/** @format */
:root {
  --pc-color: #ccc;
  --pc-bg-color-white: #fff;
  --pc-bg-color-white-1: #f5f5f5;
  --pc-bg-color-white-2: #e6e6e6;
  --pc-bg-color-white-3: #ededed;
  --pc-bg-color-white-4: #eee;
  --pc-bg-color-black: #333;
  --pc-bg-color-black-1: #2b2b2b;
  --pc-color-red: #a40011;
  --pc-color-orange-red: #ff4500;
  --pc-bg-color-red: #c20c0c;
  --pc-color--blue-1: #409eff;
  --pc-color--yellow-1: #e6a23c;
}
/** @format */
.el-dialog {
  user-select: none;
}
.el-dialog__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pc-bg-color-red);
  margin-right: 0;
  padding: 0;
  padding-right: 10px;
  box-sizing: border-box;
  height: 50px;
}
.el-dialog__header .title {
  color: #e6e6e6;
  font-size: 18px;
}
.el-dialog__header .el-dialog__title {
  color: #e6e6e6;
}
.el-dialog__header .el-dialog__headerbtn {
  top: 0;
}
.el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  overflow: hidden;
}
